* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/* GENERAL */
body,
textarea {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  color: #70747a;
}

/* NAVBAR */

.navegacao {
  width: 100%;
  height: 80px;
  background-color: #232a31;
  padding: 0 2em;
  position: relative;
  box-sizing: border-box;
}

.logo {
  width: 50px;
  margin-top: 15px;
}
nav {
  position: relative;
}

.navbaritens {
  position: absolute;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  right: 0;
}
.navbaritens li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}

.navbaritens li a {
  color: #fff;
  transition: 0.5s;
}
.navbaritens li a:hover {
  color: #ccc;
}

.botaologin {
  padding: 15px 20px;
  background-color: #2cc76a;
  border-radius: 5px;
  color: #fff;
}

.botaologin:hover {
  background-color: #22bb5f;
}

/* BANNER */

.bannerprincipal {
  background-image: url("img/mainbanner.png");
  background-size: cover;
  background-position: center;
  padding: 20em 0;
  position: relative;
}
.bannerprincipal h1,
.bannerprincipal p {
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.bannerprincipal h1 {
  font-size: 54px;
}

.bannerprincipal p {
  font-size: 34px;
}

/*  PLANOS */

.especialidades {
  padding: 5em 0;
}

.especialidades ul {
  display: flex;
  width: 90%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0%;
}

.especialidades ul li {
  flex: 1 1 200px;
  text-align: center;
  padding: 20px;
}

.fas {
  font-size: 60px;
  margin-bottom: 15px;
}

.fa-shield-alt {
  color: #2cc76a;
}
.fa-rocket {
  color: #ef3f29;
}

.fa-comments {
  color: orange;
}

.especialidades ul li h3 {
  margin-bottom: 25px;
}

.especialidades ul li p {
  line-height: 24px;
}

/* PREÇOS */

.precos {
  padding-bottom: 5em;
  text-align: center;
}
.precos h1 {
  font-size: 36px;
  margin-top: 0;
}

.precos p {
  font-size: 20px;
  margin-top: 0;
}

.planoscontainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.planos {
}

.plan {
  flex: 1 1 200px;
  max-width: 275px;
  margin-left: 20px;
  margin-right: 20px;
}

.plan ul {
  padding: 0;
}

.plan li {
  height: 50px;
  line-height: 50px;
  background-color: #e8e9ea;
  color: #333;
}
.plan .price {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #2cc762;
  color: #fff;
  text-align: center;
  line-height: 120px;
  font-size: 18px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
}

.plan .nomedoplano {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #202b34;
  padding-top: 50px;
  padding-bottom: 20px;
}

.plan .botaoplano {
  background-color: #2cc762;
  color: #fff;
  font-size: 24px;
  height: 75px;
  line-height: 75px;
  cursor: pointer;
}

.plan .recomendado {
  background-color: #f45c57;
}

/* BUSCAR DOMINIO*/

.dominioss {
  background-color: #34454e;
  text-align: center;
  padding: 5em 0;
}

.dominioss h2 {
  color: #fff;
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 15px;
}
.dominioss p {
  color: #d5d5d5;
  font-size: 24px;
  margin-bottom: 25px;
}

.dominioss input {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
}

.dominioss input[type="text"] {
  margin-bottom: 25px;
  width: 60%;
  padding: 20px;
  font-size: 20px;
}

.buscar-dominio {
  background-color: #2cc762;
  padding: 15px 30px;
  color: #fff;
  font-size: 24px;
}
/* CONTATOS */
.contatos-container {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 2em;
}

.contatos-container h2 {
  font-size: 36px;
}

.contatos-container p {
  font-size: 20px;
  margin-bottom: 40px;
}

.contatos-container input,
.contatos-container textarea {
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.contatos-container textarea {
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 460px;
  width: 260px;
}

.contatos-container input[type="submit"] {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #2cc762;
}

footer {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}
